@import '../../theme';
@import '../../functions';

.main-setting {
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
}

.footer-actions {
  border-top: 1px solid var(--lineSeparatorColor);
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: auto;

  button {
    cursor: default;
    margin-right: .4em;
    margin-bottom: .4em;
    margin-top: .4em;
  }
}

.table-wrap {
  height: 100%;
  overflow-y: auto;
}


.provider-icon {
  max-width: 50px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}


.header-table-custom {
  th {
    background-color: var(--backgroundColor2);
    color: var(--activeTextColor);
  }
}
