<div class="modal-body">
  <div class="slider-header">
    <div class="slider-title">Speed setting</div>
    <div class="slider-content custom-slider">
      <ngx-slider [(value)]="value" (userChangeEnd)="changeEnd($event)" [options]="options"></ngx-slider>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group input-group-sm">
      <label class="settings-global-p" for="max-ticket"> Maximum number of tickets in the slider</label>
      <input class="form-control ml-2" id="max-ticket" type="number" min="1" max="1000" [value]="maxTicketShow"
             (input)="changeEndMaxTicket($event)">
    </div>
  </div>
</div>



