@import '../../../theme';
@import '../../../functions';

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: var(--sliderBarColor);
    height: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: var(--sliderSelectionColor);
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: var(--paragraphSize);
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: normal;
    color: var(--sliderSelectionColor);
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: var(--sliderBarColor);
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: var(--sliderSelectionColor);
  }
}

.slider-header {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  .slider-title {
    font-size: var(--paragraphSize);
    color: var(--paragraphColor);
    margin-right: 1em;
  }

  .slider-content {
    -webkit-flex: 1;
    flex: 1;
  }
}
