@import "src/variables";


/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PressStart';
  src: url("assets/fonts/PressStart2P-Regular.ttf");
}

// Consolas Font
@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-Italic_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color-settings;
  font-family: Consolas, Arial, Helvetica, sans-serif;
}

.main-container {
  height: 100%;
  //background: url(./assets/background.jpg) no-repeat center fixed;
  background-color: $background-color-settings;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

//Settings
.settings-global-p{
  color: $color-p-settings;
  text-decoration: none;
  font-size: $font-size-p-settings;
}
