@import "variables";
@import 'theme';
@import 'functions';
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PressStart';
  src: url("assets/fonts/PressStart2P-Regular.ttf");
}

// Consolas Font
@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-Italic_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/Consolas-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--backgroundColor);
  font-family: Consolas, Arial, Helvetica, sans-serif;
}

//Settings Global
.settings-global-p {
  color: var(--paragraphColor);
  text-decoration: none;
  font-size: var(--paragraphSize);
}

.ticket-isRead {
  color: var(--readColor);
  text-decoration: none;
  font-size: var(--paragraphSize);
}

.url-app-ticker {
  color: var(--urlColor);
  text-decoration: none;
  font-size: var(--paragraphSize);
}

.url-app-ticker:hover {
  visibility: visible;
  text-decoration: underline var(--urlColor);
  cursor: pointer;
}

.line-separator {
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: 1px solid var(--lineSeparatorColor);
}

.settings-header {
  display: -webkit-flex;
  display: flex;
  align-items: center;

  .settings-header-title {
    font-size: var(--paragraphSize);
    color: var(--paragraphColor);
    margin-right: .5em;
  }

  .settings-header-line {
    -webkit-flex: 1;
    flex: 1;
    height: .5px;
    background-color: var(--paragraphColor);
  }
}

