/*$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$white:    #fff !default;*/


/*$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$color-border: #ced4da !default;*/



//COLORS
/*
$color-p-settings: #adb5bd !default;
$font-size-p-settings: 13px;
$success:   #28a745 !default;

$background-color-settings: #343a40 !default;
$background-color-settings-ul: #495057 !default;
$background-color-settings-border: #212529 !default;
$li-active-background-color: #007bff !default;
$active-a-color: #fff !default;

//Slider Custom
$ngx-slider-bar-color: #ffe4d1 !default;
$ngx-slider-selection-color: #fd7e14 !default;

//Url
$url-color:    #17a2b8 !default;
*/
