<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-2 col-sm-2" style="color: white; text-align: center">
        <span class="current-time">
          {{currentTime | date: 'hh:mm a'}}
        </span>
      <br>
      <div>
        <span class="alert-red" style="font-size: larger">{{1}}</span>
        <span class="alert-orange" style="font-size: larger">{{2}}</span>
        <span class="alert-yellow" style="font-size: larger">{{2}}</span>
      </div>
    </div>

    <div class="col-md-10 col-sm-10" style="color: white">
      <ng-ticker-custom idOrName="kentik" direction="left" speed="{{speedTicker*2}}s" playState="true"
                        stopOnHover="false"
                        (completeIteration)="completeIteration($event)">
        <div [innerHTML]="tickerText">
        </div>
      </ng-ticker-custom>
    </div>
  </div>
</div>

