<div class="main-setting">
  <div class="settings-custom">
    <div class="navbar-setting">
      <ul>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
          <a class="nav-link" routerLink="/settings/slider">
            <span>Slider settings</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: false }">
          <a class="nav-link" routerLink="/settings/scheme">
            <span>Color Scheme</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: false }">
          <a class="nav-link" routerLink="/settings/other">
            <span>Others</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="fixed-bottom footer-actions">
  <button type="button" class="btn btn-secondary btn-sm" (click)="close()">Close</button>
  <button type="button" class="btn btn-secondary btn-sm" (click)="save()">Save changes</button>
</footer>






